{% extends 'base.html.twig' %}

{% block title %}Hello NirController!{% endblock %}

{% block body %}
    <div class="card">
        {{ form_start(form) }}
        <div class="card-header"></div>
        <div class="card-body">
            <table id="example" class="display">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>UM</th>
                    <th>Qty</th>
                    <th>Price</th>
                </tr>
                </thead>
                <tbody>
                {% for row in stock %}
                    <tr>
                        <td>{{ row.getName }}</td>
                        <td>{{ row.getUm }}</td>
                        <td>{{ row.getQty }}</td>
                        <td>{{ row.getPrice }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="card-header col-sm-9 col-sm-offset-2" style="margin:20px 0 0 20px;">
            <table id="display_selected_products" class="display" style="width:100%"><thead style="border-bottom: solid 1px;"><tr><th>Name</th><th>Um</th><th>Type</th><th>Qty</th><th>Price</th><th>Value</th><th>Obs</th></tr></thead><tbody></tbody></table>
        </div>
        <div class="col-sm-5 col-sm-offset-2" style="margin:20px 0 0 20px; ">
            <div style="height: 50px;">{{ form_row(form.supplier) }}</div>
            <div style="height: 50px;">{{ form_row(form.receiver) }}</div>
            <div style="height: 50px;">{{ form_row(form.invoiceNumber) }}</div>
            <div style="height: 50px;">{{ form_row(form.date) }}</div>
            <div style="height: 50px;">{{ form_row(form.reception_committee) }}</div>
            <div style="height: 50px;">{{ form_row(form.stock_manager) }}</div>
            <div style="height: 50px;">{{ form_row(form.comments) }}</div>
        </div>
        <div class="col-sm-5 col-sm-offset-2" style="margin:20px 0 0 20px;">
            <div class="row g-3">
                <div>
                    <div class="col">
                        <input type="text" id="name" class="form-control" placeholder="Product" aria-label="Product">
                    </div>
                </div>
                <div class="col-sm">
                    <input type="text" id="um" class="form-control" placeholder="UM" aria-label="Um">
                </div>
                <div class="col-sm">
                    <input type="text" id="qty" class="form-control" placeholder="Qty" aria-label="Qty">
                </div>
                <div class="col-sm">
                    <select class="form-control" id="type">
                        <option value="inventar">Inventar</option>
                        <option value="marfuri">Marfuri</option>
                        <option value="consumabile">Consumabile</option>
                    </select>
                </div>
                <div class="col-sm">
                    <input type="text" id="price" class="form-control" placeholder="Price" aria-label="Price">
                </div>
                <div>
                    <div class="col-sm-6">
                        <input type="text" id="obs" class="form-control" placeholder="Obs." aria-label="Obs">
                    </div>
                </div>
                <div><button type="button" id="add_single_product"><i class="fa fa-plus" style="font-size:36px"></i></button></div>
            </div>
            <div class="card-body" id="stock-list" data-prototype="{{ form_widget(form.products.vars.prototype)|e('html_attr') }}">
                <div class="panel" style="display: block;">

                </div>
            </div>
        </div>
        <div class="card-footer">{{ form_row(form.save) }}</div>
        {{ form_end(form) }}
    </div>

    <script src="../js/app2.js"></script>
{% endblock %}
